@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body{
    font-family: "Inter", sans-serif;
    max-width: 100%;
    height: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 200%);
}

.head{
    position: relative;
}

.btn-border{
    border: none;
}

.nav-class{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 3.56rem;
    margin-left: 11.88rem;
    margin-right: 11.88rem;
}

.project-title{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 36px;
    font-weight: 800;
    margin-top: 5px;
}

.nav-options{
    width: 465px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;

}

.nav-options a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}


.nav-span{
    width: 92px;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.banner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 11.88rem;
    margin-right: 13.4rem;
}

.banner-title{
    width: 520px;
    height: 282px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.italic{
    font-family: "Dancing Script", cursive;
}

.banner-description{
    width: 520px;
    height: 48px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 462px;
    height: 54px;
}

.banner-content{
    margin-bottom: 200px;
}

.banner-img img{
    position: absolute;
    top: -80px;
    width: 349px;
    height: 580px;
}

.btn-1{
    width: 224px;
    height: 54px;
    display: flex;
    padding: 16px 40px 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.btn-2{
    width: 224px;
    height: 54px;
    padding: 16px 40px 16px 40px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
    border-radius: 42px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
}

.banner-img img{
    position: relative;
}

.workout{
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(11, 11, 11, 0.255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.workout{
    position: absolute;
    top: 350px;
    right: 230px;
}

.tutorial{
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(11, 11, 11, 0.255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tutorial{
    position: absolute;
    top: 600px;
    left: 1250px;
}

.circle{
    position: relative;
    width: 40px;
    height: 40px;
    right: 77px;
    top: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}

.workout-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    margin-top: -4px;
    margin-bottom: -16px;
}

.workout-desc{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}

.habits-section-container{
    max-width: 1044px;
    margin-top: 100px;
    margin: 0 auto;
    margin-top: -100px;
    margin-bottom: 100px;
}

.habit-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
}

.habit-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.habits{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 58px;
}

.img-circle{
    border-radius: 50%;
}

.extra-mile-container{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.extra-mile-info{
    width: 443px;
    height: 290px;
}

.extra-mile-picture> img{
    width: 366px;
    height: 312px;
    padding-right: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 40px;
    background: url(4);
}

.extra-mile-info{
    padding-left: 54px;
    padding-top: -31px;
    padding-bottom: 40px;
}

.extra-mile-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
}

.extra{
    text-align: left;
}

.btn-xtra{
    padding: 16px 40px 16px 70px;
}

.bmi-container{
    margin-top: 78px;
}

.bmi-calculation-part{
    background: rgb(34, 34, 34);
    opacity: 0.8;
}

.bmi-info{
    max-width: 671px;
    height: 120px;
    margin: 0 auto;
}

.bmi-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: left;
    margin-top: 5px;
}

.bmi-desc{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-top: -38px;
    padding-bottom: 20px;
}

.bmi-calculation-part{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bmi-calculation-title, .calculate-bmi-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 28px;
    font-weight: 900;
    text-align: left;
}

.calculate-bmi-title{
    padding-bottom: 10px;
}

table{
    width: 350px;
    height: 216px;
}

th{
    color: white;
}

td{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

table, th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
  }

.calculate-bmi{
    width: 577px;
    height: 386px;
}

.give-info{
    max-width: 577px;
    height: 168px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 10px;
}

.give-info> .give-info-3{
    grid-column: span 2;
}

.give-info-1{
    width: 220px;
    height: 28px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    padding: 12px 40px 12px 20px;
    border: none;
}

.give-info-2{
    width: 280px;
    height: 52px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    padding: 12px 40px 12px 20px;
    border: none;
}

.give-info-3{
    width: 570px;
    height: 52px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    padding: 12px 40px 12px 20px;
    border: none;
}

.bmi-btn{
    padding: 16px 40px 16px 65px;
}

.team-container{
    max-width: 100%;
}

.our-team-info{
    max-width: 671px;
    height: 155px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.our-team-title{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: -10px;
}

.team-desc{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.our-team-members{
    max-width: 1060px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.323);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.our-team-members>div{
    margin-top: 15px;
    margin-left: 15px;
}

.team-members{
    width: 326.67px;
    height: 272px;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2);
}

.trainer-name{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.designation{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.image-one{
    position: relative;
}

.one{
    position: absolute;
    top: 190px;
    left: 20px;
}

.d-one{
    position: absolute;
    top: 225px;
    left: 20px;
}

.image-two{
    position: relative;
}

.two{
    position: absolute;
    top: 190px;
    left: 10px;
}

.d-two{
    position: absolute;
    top: 225px;
    left: 10px;
}

.image-three{
    position: relative;
}

.three{
    position: absolute;
    top: 190px;
    right: 210px;
}

.d-three{
    position: absolute;
    top: 225px;
    right: 285px;
}

.image-four{
    position: relative;
}

.four{
    position: absolute;
    top: 195px;
    left: 15px;
}

.d-four{
    position: absolute;
    top: 225px;
    left: 15px;
}

.image-five{
    position: relative;
}

.five{
    position: absolute;
    top: 190px;
    left: 15px;
}

.d-five{
    position: absolute;
    top: 220px;
    left: 15px;
}

.image-six{
    position: relative;
}

.six{
    position: absolute;
    top: 195px;
    right: 210px;
}

.d-six{
    position: absolute;
    top: 225px;
    right: 275px;
}

@media screen and (max-width: 576px) {
    .nav-options{
        display: none;
    }
    .project-title{
        margin-left: -120px;
    }
    .banner-container{
        display: flex;
        flex-direction: column;
    }

    .banner-title{
        margin-left: 50px;
        font-size:45px;
        width: 350px;
        height: 175px;
    }

    .banner-description{
        margin-left: 50px;
        width: 350px;
        height: 98px;
    }

    .btn-container{
        width: 350px;
        height: 54px;
    }

    .btn-1{
        width: 140px;
        height: 50px;
        display: flex;
        padding: 12px 20px 17px 20px;
        font-size: 13px;
        font-weight: 600;
        margin-left: 50px;
    }

    .btn-2{
        width: 140px;
        height: 50px;
        display: flex;
        padding: 12px 20px 17px 20px;
        font-size: 13px;
        font-weight: 600;
    }

    .workout{
        position: absolute;
        top: 750px;
        right: 15px;
    }

    .tutorial{
        position: absolute;
        top: 930px;
        left: 25px;
    }

    .habit-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        text-align: center;
    }

    .habit-description{
        color: rgba(255, 255, 255, 0.5);
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
    }

    .habits-info{
        width: 318px;
        height: 140px;
        margin-left: 50px;
    }

    .habits{
        flex-direction: column;
        width: 338px;
        height: 1216px;
        margin-left: 50px;
    }

    .extra-mile-container{
        flex-direction: column;
    }

    .extra-mile-info{
        width: 287px;
        height: 264px;
    }

    .extra-mile-title{
        font-size: 32px;
        font-weight: 900;
    }

    .extra{
        text-align: left;
    }

    .btn-xtra{
        width: 287px;
        padding: 16px 40px 16px 100px;
        margin-top: 30px;
    }

    .bmi-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 32px;
        font-weight: 900;
        text-align: left;
        padding-bottom: 10px;
    }

    .bmi-calculation-part{
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    .calculate-bmi{
        width: 100%;
    }

    .bmi-chart{
        margin-right: 80px;
    }

    .bmi-calculation-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 900;
        text-align: left;
    }

    .calculate-bmi-title{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 16px;
        font-weight: 900;
        text-align: left;
        margin-left: 20px;
    }

    .calculate-bmi> .bmi-desc{
        margin-top: -20px;
        margin-left: 20px;
    }

    .give-info{
        padding-right: 100px;
    }

    .give-info-1{
        width: 100px;
        height: 30px;
        margin: auto;
    }

    .give-info-2{
        width: 160px;
        height: 55px;
        margin: auto; 
    }

    .give-info-3{
        width: 350px;
        height: 45px;
        margin: auto;
    }

    .bmi-btn{
        width: 224px;
        height: 54px;
        margin-left: 15px;
        padding: 16px 40px 16px 80px;
    }

    .our-team-members{
        width: 350px;
        grid-template-columns: repeat(1, 1fr);
    }

    .our-team-title{
        color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    }

}